body{
	background-color: #264653;
}

h2{
	color: #e9c46a;
	/* margin-left: 10px; */
	text-align: center;
}

h1{
	color: #2a9d8f;
	text-align: center;
}

p{
	color: #f4a261;
	text-align: justify;
}

a{
	color: #e76f51;
	margin-left: 10px;
}

p a{
	text-align: left;
}

table{
	color: #f4a261;
}

li{
	color: #f4a261;
}

.box{
	clear: right;
	width: 30%;
	display: inline-block;
	float: left;
}

footer{
	clear: both;
}


.form{
	margin: 2px;
	padding: left;
}

