body{
	background-color: #264653;
}

h2{
	color: #e9c46a;
	/* margin-left: 10px; */
	text-align: center;
	font-family: 'Arvo', serif;
}

h1{
	color: #2a9d8f;
	text-align: center;
	font-family: 'Prata', serif;
}

p{
	color: #f4a261;
	font-family: 'Balsamiq Sans', cursive;
	text-align: justify;
}

a{
	color: #e76f51;
	margin-left: 10px;
}


.boxes{
	margin: 2px;
	border: #2a9d8f;
	/* border-style: solid; */
}


table{
	color: #f4a261;
	text-align: justify;
	font-family: 'Balsamiq Sans', cursive;
}

h3{
	color: #f4a261;
}

summary{
	color: #f4a261;
}

li{
	color: #f4a261;
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
}

.box{
	clear: right;
	width: 30%;
	display: inline-block;
	float: left;
	margin: 5px;
	padding-left: 2px;
}

.box a{
	float: left;
}

#topa{
	color: rgb(150, 218, 218);
}

#form{
	height: 30px;
}

footer{
	clear: both;
}


.form{
	margin: 2px;
	padding: left;
}

